body {
  color: #222;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.md {
  margin: 40px;
}

.md h1 {
  color: #e12233;
}

header, footer {
  background-color: #efefef;
  padding: 40px;
  text-align: center;
}

.content {
  padding: 40px;
}
